.lineaP{
  background: #D13F31;
 width: 100%;
height:10px;


}
.inicio{
  background: #ECECEC;
 width: 80%;
 margin:0px auto;


}

.docum{
background: #DEDBA7;
  width: 70%;
  float: left;


}
.enlaOtros{

 width: 100%;
float: right;
margin-top: 20px;

}
.autor{

background:  #1A202C;
  width: 29%;
  float: right;
color: white;
}
.Centrar{
text-align: center;

}
.truman{
 width: 78%;
 height: 270px;
margin-left: 10%;
}

.muert{

text-align: center;
margin-top: 0px;

}
.tTitulo{

  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.frase{
  font-style: italic;
  text-align: center;
}
.lineaA{
  background: #1A202C;
 width: 100%;
height:10px;
float: left;

}
.cuento1{
  width: 50%;
  background: red;
  margin-left: 20%;

    border-radius:100%;
}
td{
  width: 20%;
  background-color: white;
}

#cont p {
text-align: justify;

}
